<!DOCTYPE html>
<html>
<head>
  <title>Greathouse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <!-- HEADER -->
    <header class="row">
      <div class="col-md-4">
        <h1 class="lk"><%= link_to "Nick Greahouse","/" %></h1>
      </div>
      <div class="col-md-2">
        <h3 class="lk"><%= link_to "about","about" %></h3>
      </div>
      <div class="col-md-2">
        <h3 class="lk"><%= link_to "music","music" %></h3>
      </div>
      <div class="col-md-2">
        <h3 class="lk"><%= link_to "lessons","lessons" %></h3>
      </div>
      <div class="col-md-2">
        <h3 class="lk"><%= link_to "events","events" %></h3>
      </div>
    </header>
    <%= yield %>
  </div>

</body>
</html>
